config
config.py
./binance-api/config
./twitter-api/config

_pycache_
./binance-api/_pycache_
.DS_Store
./binance-api/.DS_Store
.env



*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/