<html>
    <head>
        <title>EtherView</title>
        <!-- Bootstrap Link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>

    <body>
        <div class="container" style="background-color: black">
            <div class="row">
                <div class="col-6">
                    <a href='/' class="navbar-brand" style="color: white"><h1>EtherView</h1></a>
                    <form class="d-flex" action="/address" method="get">
                        <input class="form-control" placeholder="Search by address" name="address" type="text" />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}        
    </body>

</html>