<html>
    <head>
        <Title>Binance Trader</Title>
        <script src='https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js'></script>
    </head>

    <body>
        <h2>{{ title }}</h2>
        <div id="chart"></div>
        <div id="trades"></div>

        <div style="border: solid gray 1px; padding: 20px;">
            <h3>Buy Crypto</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div style="padding: 10px; margin-bottom: 10px; background: pink; border: solid red 1px; color: red;">
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}

            <form action='/buy' method="post">
                <input type="text" id="quantity" name="quantity" placeholder="ex. 0.001"/>
                <select id="symbol" name="symbol">
                    {% for symbol in symbols %}
                        <option>
                            {{ symbol['symbol'] }}
                        </option>
                    {% endfor %}
                </select>
                <!-- Buy button -->
                <input type="submit" name="buy" value="buy" />
            </form>
        </div>

        <div id="balances">
            Balances
            <table>
                <!-- Jinja2 loop -->
                {% for balance in my_balances %}
                <tr>
                    <td>
                        {{ balance['asset'] }}
                    </td>
                    <td>
                        {{ balance['free'] }}
                    </td>
                </tr>
                {% endfor %}}
            </table>
        </div>

        <h3>settings</h3>
        <div id="settings">
            <div>
                <input type="checkbox"/> RSI
                <input type="text" id="rsi_length" name="rsi_length" placeholder="14"/>
                Over Sold
                <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30"/>
                Over Bought
                <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70"/>

            </div>
        </div>

        <script>
            // Create WebSocket connection.
            // const binanceSocket = new WebSocket('wss://stream.binance.com:9443/ws/btcusdt@trade');

            var tradeDiv = document.getElementById('trades');

            // Make console.log object viewable in 
            // binanceSocket.onmessage = function (event) {
            //     console.log(event.data)
            //     var messageObj = JSON.parse(event.data);
            //     tradeDiv.append(messageObj.parse);
            // }
        </script>
        <script src="{{ url_for('static', filename='chart.js') }}"></script>
    </body>
</html>

